.featured-work-container {
  position: relative;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;

  .project-title {
    color: var(--theme-font-heading-primary-color);

  }

  .project-description {
    box-shadow: 0 20px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 4px;
    background-color: var(--theme-primary-hover);

  }
}

.project-content {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}

.project-image {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
}

.featured-work-container:nth-of-type(2n+1) {
  .project-content {
    grid-column: 7 / -1;
    text-align: right;
  }
  .project-image {
    grid-column: 1 / 8;
  }
  .project-tech-list {
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
}
