
.text-xxs {
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-xxs);
}

.text-xs {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

.text-sm {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.text-md {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.text-lg {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}

.text-xl {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

.text-2xl {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
}

.text-3xl {
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-3xl);
}


.text-4xl {
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-4xl);
}




