
.button-primary {
  color: var(--button-theme-primary-text-color);
  border: 1px solid var(--button-theme-primary-bg-color);
  background: var(--button-theme-primary-bg-color);
}

.button-secondary {
  color: var(--button-theme-secondary-text-color);
  border: 1px solid var(--button-theme-secondary-bg-color);
  background: var(--button-theme-secondary-bg-color);
}

.button-sm {
  padding: var(--button-sm-padding);
}

.button-md {
  padding: var(--button-md-padding);
}

.button-lg {
  padding: var(--button-lg-padding);
}

.button-xl {
  padding: var(--button-xl-padding);
}

.outlined {
  background-color: transparent !important;
}

.primary-outlined {
   color: var(--button-theme-primary-bg-color);
}

.secondary-outlined {
   color: var(--button-theme-secondary-bg-color);
}

.button-hover:hover {
  outline: none;
  transform: translate(-4px, -4px);
}

.button-primary-outlined-hover:hover {
  box-shadow: 3px 3px 0 0  var(--button-theme-primary-bg-color);
}

.button-secondary-outlined-hover:hover {
  box-shadow: 3px 3px 0 0  var(--button-theme-secondary-bg-color);
}

.button-primary-hover:hover {
  box-shadow: 3px 3px 0 0  var(--button-theme-primary-text-color);
}

.button-secondary-hover:hover {
  box-shadow: 3px 3px 0 0  var(--button-theme-secondary-text-color);
}

.button {
  border-radius: var(--default-border-radius);
  font-size: var(--default-font-size);
  transition: var(--transition);
}


.primary-outlined-ripple:after {
  background-image: radial-gradient(circle, var(--button-theme-primary-bg-color) 10%, transparent 10.01%) ;
}

.secondary-outlined-ripple:after {
  background-image: radial-gradient(circle, var(--button-theme-secondary-bg-color) 10%, transparent 10.01%);
}

.default-ripple:after {
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10,10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0,0);
  opacity: .2;
  transition: 0s;
}
